<section>
<article style="margin:15px;", class="post-948 post type-post status-publish format-standard hentry category-blogging-2 tag-about tag-about-pages tag-about-us tag-about-us-pages tag-best-about-us-pages blog" id="post-948" >
					
					
					<div class="entry">

<p><strong>Last Update March 16th, 2015</strong></p>
<p><strong>Something that I have wanted to do for a long time is take a look at the web&#8217;s best About Us pages</strong>. </p>
<p>Why? Because a good About Us page is <em>very</em> hard to come by. </p>
<p>Normally they are a boring, self-serving mix of me me me and us us us. But a they are so vital to your business. In fact, its usually the first place people look before they start to take you seriously. Get it wrong and you could be turning people off without even knowing it.</p>
<p>In this post I am going to show you what I consider to be <strong>12 of the best About Us pages on the internet</strong>. I&#8217;m going to go through them all, one by one, and show you what makes them so good. </p>
<h3>A good About Us page is nothing without&#8230;</h3>
<p>It doesn&#8217;t matter how good your About Us page is if you don&#8217;t have your own domain name and web host. </p>
<p>If you are using a free blog like Tumblr or Blogger you are growing a brand that you don&#8217;t fully own or control. This is a huge shame. </p>

<p>I&#8217;m guessing that you are really trying to create something special (given that you are researching how to write about About page for your business) so please take the extra time to get your own distinctive domain and grow a brand that stands out. </p>
<h3>The definition of a good About Us page</h3>
<p>I need to start this article by qualifying what makes an amazing About Us page. The reason for this is that some About Us pages look amazing but have terrible content whilst others look terrible but grab your attention immediately. The list I have compiled here are based on the fact that they:</p>
</article>
</section>