<div class="container">
	<div class="row">


		<section class="span6">
			<div class="hero-unit">
	        <h1>Our contacts</h1>
	        <p>You are always free to contact us anytime by the contacts offered below:</p>
	        <p>Cell: 102 24 hours 7 days a week</p>
	        <p>Address: Cherkassy</p>
	        </div>
        </section>

		<section class="span6">
			<div class="well" width="700" >
				<iframe width="650" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;ll=49.438859,32.098274&amp;spn=0.017441,0.039911&amp;t=h&amp;z=15&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?ie=UTF8&amp;ll=49.438859,32.098274&amp;spn=0.017441,0.039911&amp;t=h&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">Переглянути збільшену карту</a></small>
			</div>  <!-- end of well -->
		</section>


	</div> <!-- end of the row -->
</div>