<%= paginate @ideas, :window => 3 %>

<h2>Ideas supplied by our members</h2>


<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="..." alt="..."> <!--FOR THE AVATAR -->
    </a>
  </div>
  <% @ideas.each do |idea| %>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to "#{idea.name}", idea %></h4>
    <p><%= truncate(idea.description, :ommision => "... Read More", :length => 80) %></p>
  </div>
  <% end %>
</div>






<br>

<%= link_to 'New Idea', new_idea_path if current_user %>
