<div class="row">
  <div class="row-same-height">
    <div class="col-xs-2 col-xs-height"><%= render 'layouts/navbar' %></div>

    <div class="col-xs-10 col-xs-height">
		<%= @user.ideas.each do |i| %>
			<p><%= i.name %></p>
			<p><%= i.description %></p>
			<hr>
		<% end %>
	</div>
  </div>
</div>
