/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 *= require_self
 *= require_tree .
 *= stub active_admin
 *= require bootstrap
 *= rails_bootstrap_forms
 */

 @import "bootstrap";
 @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

 body {
	margin:0;
    padding:0;
    height:100%;
    width: 100%;
  
    background: url('/assets/123.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

#section {
    border: 1px solid #D2D2D2;
  background: rgba(#FFFFCC, 0.3);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
}



.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
#myCarousel  .item {
  height: 300px;
  background-color:#bbb;
}
#myCarousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}



.login_form {
    width: 400px;
}

#signin {
	text-align: right;
	font-size: 170%;
}

#header {
    background-color:black;
    text-align:center;
    padding:5px;
    height:100px;
}



#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    width: 100%;
    padding-top: 70px;
}


#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    width: 100%;
    padding-top: 70px;
}

    #main_menu {
	text-align: left;
	font-size: 170%;
}


#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:1000px;
    width:180px;
    float:left;
    padding:5px;
    font-family: "Times New Roman", Times, serif;
    margin-right: 20px;
    
}

#nav li {
	font-size: 120%;
    display:block;
}


.circular {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(http://link-to-your/image.jpg) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    }

    .circular_min {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(http://link-to-your/image.jpg) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    }