<header class="masthead">
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="images/1.jpg">
          <div class="container">
            <div class="carousel-caption">

              <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                Free membership
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                Anybody can become a member of HaveAnIdea and be a part of a big society of people with big intentions and smart ideas. You are always welcome. It is free and will always be. 
                            </div>
                        </div>
                    </div>
                  </div>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="images/2.jpg">
          <div class="container">
            <div class="carousel-caption">


                  <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                We Encourage Local Developers
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                Anybody can become a member of HaveAnIdea and be a part of a big society of people with big intentions and smart ideas. You are always welcome. It is free and will always be. 
                            </div>
                        </div>
                    </div>
                  </div>

              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="images/3.jpg">
          <div class="container">
            <div class="carousel-caption">

              <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                Create Your Own Team With Us
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                Anybody can become a member of HaveAnIdea and be a part of a big society of people with big intentions and smart ideas. You are always welcome. It is free and will always be. 
                            </div>
                        </div>
                    </div>
                  </div>


              <p></p>
            </div>
          </div>
        </div>       
      </div><!-- /.carousel-inner -->
      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>  
    </div>
    <!-- /.carousel -->
</header>